<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>chat</title>
    <script th:src="@{/webjars/htmx.org/2.0.8/dist/htmx.min.js}"></script>
    <script th:src="@{/webjars/htmx-ext-ws/2.0.4/dist/ws.min.js}"></script>
</head>

<body>
<div hx-ext="ws" ws-connect="/ws">
    <form id="form" ws-send>
        <label for="message">message:</label>
        <input id="message" name="message" />
        <button type="submit">Submit</button>

        <h2>履歴</h2>
        <ul id="histories"></ul>

        <h2>送信されたメッセージ</h2>
        <ul id="messages"></ul>
    </form>
</div>
</body>
</html>