<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>infscroll</title>
    <script th:src="@{/webjars/htmx.org/2.0.8/dist/htmx.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/milligram/1.4.1/dist/milligram.min.css}">
</head>
<body>
<main>
    <div>
        <table>
            <thead>
                <tr>
                    <th>No</th>
                    <th>UserName</th>
                    <th>title</th>
                    <th>createdAt</th>
                </tr>
            </thead>
            <tbody id="feed-table-body">
                <tr th:each="feed, iterStat : ${feeds}"
                    th:fragment="feed-row"
                    th:attr="hx-get=${iterStat.last} ? @{/infscroll/{p}(p=${page})} : null"
                    hx-trigger="revealed"
                    hx-swap="afterend"
                    hx-indicator="#loading">
                    <td th:text="${feed.id()}"></td>
                    <td th:text="${feed.userName()}"></td>
                    <td th:text="${feed.tittle()}"></td>
                    <td th:text="${feed.createdAt()}"></td>
                </tr>
            </tbody>
        </table>
        <span id="loading" class="htmx-indicator">Loading...</span>
    </div>
</main>
</body>
</html>