<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>sse</title>
    <script th:src="@{/webjars/htmx.org/2.0.8/dist/htmx.min.js}"></script>
    <script th:src="@{/webjars/htmx-ext-sse/2.2.4/dist/sse.min.js}"></script>
    <link rel="stylesheet" th:href="@{webjars/milligram/1.4.1/dist/milligram.min.css}">
    <style>
        #message {
            height: 90vh;
            overflow-y: auto;
            /* スムーズなスクロール */
            scroll-behavior: smooth;
        }
    </style>
</head>
<body>
<main>
    <p>
        青空文庫(<a href="https://www.aozora.gr.jp/cards/000363/card57393.html">https://www.aozora.gr.jp/cards/000363/card57393.html</a>)で管理されている地下生活者の手記の文章を読み上げます。
    </p>

    <div id="message" hx-ext="sse" sse-connect="/sse/message" sse-swap="message" hx-swap="beforeend scroll:bottom">
    </div>
</main>
<script>
    const messageContainer = document.getElementById('message');
    document.addEventListener('htmx:load', () => console.log('htmx loaded'));
    document.addEventListener('htmx:sseOpen', () => console.log('open sse session'));
</script>
</body>
</html>
