<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>validation</title>
    <script th:src="@{/webjars/htmx.org/2.0.8/dist/htmx.min.js}"></script>
    <link rel="stylesheet" th:href="@{webjars/milligram/1.4.1/dist/milligram.min.css}">
</head>
<body>
<main>
    <form
            th:hx-post="@{/validation}"
            hx-target="#message"
            hx-swap="outerHTML"
    >
        <!-- HTML5のバリデーション機能でクライアントサイドのバリデーションは実施 -->
        <!-- それらをなくしたらサーバサイドでBeanValidationでバリデーション実施。結果はJsonで帰ってきてhtmx:responseErrorのハンドラで処理される -->
        <input
                name="name"
                type="text"
                required
                minlength="6"
                maxlength="6"
                pattern="^[0-9]+$"
                placeholder="6桁の数値を入力"
        >
        <button>send</button>
        <p th:fragment="message" id="message" th:text="${message}"></p>
    </form>
</main>
<script>
    document.addEventListener('htmx:load', () => console.log('htmx loaded'));

    document.body.addEventListener("htmx:responseError", (e) => {
        errorJson = JSON.parse(e.detail.xhr.response);
        alert(errorJson.message);
    });
</script>
</body>
</html>
