<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>validation</title>
    <script th:src="@{/webjars/htmx.org/2.0.8/dist/htmx.min.js}"></script>
    <link rel="stylesheet" th:href="@{webjars/milligram/1.4.1/dist/milligram.min.css}">
    <style>
        .required:after {
            content: "*";
            color: red;
        }
    </style>
</head>
<body>
<main>
    <form
            th:hx-post="@{/validation}"
            hx-target="#message"
            hx-swap="outerHTML"
    >
        <!-- HTML5のバリデーション機能でクライアントサイドのバリデーションは実施 -->
        <!-- それらをなくしたらサーバサイドでBeanValidationでバリデーション実施。結果はJsonで帰ってきてhtmx:responseErrorのハンドラで処理される -->
        <label class="required" for="name">name</label>
        <input
                id="name"
                name="name"
                type="text"
                minlength="1"
                maxlength="20"
                required
                placeholder="名前を入力"
        >

        <label for="from">from</label>
        <input id="from" type="date" name="from" min="2019-01-01" max="2999-12-31">

        <label for="to">from</label>
        <input id="to" type="date" name="to" min="2019-01-01" max="2999-12-31">

        <button>send</button>
        <p th:fragment="message" id="message" th:text="${message}"></p>
    </form>
</main>
<script>
    document.addEventListener('htmx:load', () => console.log('htmx loaded'));

    document.body.addEventListener("htmx:responseError", (e) => {
        errorJson = JSON.parse(e.detail.xhr.response);
        errorJson.errors.forEach((e) => alert(e.defaultMessage));
    });
</script>
</body>
</html>
